Options -MultiViews
RewriteEngine On

# draaitijden

RewriteRule ^draaitijden/([0-9]+)$ draaitijden/index.php?id=$1

# film
RewriteRule ^film/([0-9]+)$  film/index.php?id=$1


# kaarten
RewriteRule ^kaarten/([0-9]+)$  kaarten/index.php?id=$1

# medewerker
RewriteRule ^medewerker/([0-9]+)$  medewerker/index.php?id=$1

# vestging
RewriteRule ^vestiging/([0-9]+)$  vestiging/index.php?id=$1

# zaal
RewriteRule ^zaal/([0-9]+)$  zaal/index.php?id=$1